$primaryColor: #db0000;
$secondaryColor: #001adb;
$fontColor: #333;
$menuColor: #DFF188;
$miscColor:  #5C633A;
$otherColor:  #E7C878;


$defaultFont: "Roboto", sans-serif;
$lightWeight: 300;
$mediumWeight: 500;
$boldWeight: 700;

$gutter: 16px;


